body{
    font-family: Arial, Verdana;
    background-color: #000000;
    color: #ffffff;
    /* margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px; */
    margin: 20px 20px 0px 20px;
}

h1{
    padding: 15px;
    font-size: 42px;
    text-align: center;
}

h2{
    font-size: 30px;
    color: #0D0D0D;
}

p{
    font-size: 24px;
    padding-top: 10px;
    padding-left: 10px;
}

img{
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: #ffffff dashed 10px;
}

div{
    height: auto;
    min-height: 125px;
    padding: 20px;
}

.introduction{
    border-radius: 15px;
    margin-top: 15px;
    line-height: 2;
    border: 3px solid #ffffff;
}

.red{
    background-color: #ff0000;
    text-align: right;
    margin-left: 50px;
    border-left: 5px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    
}

.blue{
    background-color: #0000ff;
    text-align: left;
    margin-right: 50px;
    border-top: 2px solid #ffffff;
    border-right: 5px solid #ffffff;
    color: #C4C4C4;
}

.blue h2{
    color: #C4C4C4;
}

.yellow{
    background-color: #ffff00;
    text-align: right;
    margin-left: 50px;
    border-left: 5px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    color: #707070;
}

.green{
    background-color: #008500;
    text-align: left;
    margin-right: 50px;
    border-top: 2px solid #ffffff;
    border-right: 5px solid #ffffff;
}

footer{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,255,1) 25%, rgba(0,102,255,1) 70%, rgba(0,0,0,1) 100%);
    border: solid #ffffff;
    border-width: 5px;
}

footer p{
    text-align: right;
    font-size: 20px;
    /* padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px; */
    padding: 15px 15px 15px 0px;
}
